.header {
    padding:20px 0;
    border-bottom:1px solid $secondColor;
    overflow:hidden;
    position: relative;
    .logo {
        width:30%;
        float:$float-left;
        @media #{$small} {
            width: 100%;
            float: none;
            text-align: center;
        }
        @media #{$medium} {
            width:30%;
            float:$float-left;
            text-align: $text-left;
        }
        h1 {
            margin-bottom:0;
            margin-top:10px;
        }
    }
    .navbar {
        overflow: hidden;
        width:70%;
        float:$float-left;
        background-color:$mainColor;
        border-radius:15px;

        @media #{$small} {
            width: 100%;
            float: none;
            text-align: center;
            margin-top: 30px;
            display: block !important;
        }
        @media #{$medium} {
            width:70%;
            float:$float-left;
            margin-top: 1em;
        }
        @media #{$maxMobile} {
            display: none;
            border-radius: 0;
        }
        li {
            width: 20%;
            float: $float-left;
            font-size: 18px;
            text-align: center;
            margin-bottom: 10px;
            @media #{$maxMobile} {
                display: block;
                float: none;
                width: 100%;
            }
            a {
                display: block;
                padding: 10px 10px;
                color:#FFF;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color:#DDD;
                }
            }

        }
    }
}